header {
  height: 200px;
}

.nav-wrap {
  background: #252A34;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav-wrap img {
  width: 50%;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 80%;
  height: 70px;
}

@media (max-width: 769px) {
  .nav-flex {
    width: 90%;
  }
}

.nav-flex .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 769px) {
  .nav-flex .nav-list {
    display: none;
  }
}

.nav-flex .nav-list li a {
  font-size: 1.6rem;
  color: #EAEAEA;
  -webkit-transition: color .6s ease;
  transition: color .6s ease;
}

.nav-flex .nav-list li a:hover {
  text-decoration: line-through;
  color: #FF2E63;
}

#gloval-nav {
  display: none;
}

@media (max-width: 769px) {
  #nav-toggle {
    position: fixed;
    top: 20px;
    right: 5%;
    height: 32px;
    cursor: pointer;
    z-index: 1000;
  }
  #nav-toggle > div {
    position: relative;
    width: 36px;
  }
  #nav-toggle span {
    width: 100%;
    height: 3px;
    left: 0;
    display: block;
    background: #EAEAEA;
    position: absolute;
    -webkit-transition: top .5s ease, -webkit-transform .6s ease-in-out;
    transition: top .5s ease, -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out, top .5s ease;
    transition: transform .6s ease-in-out, top .5s ease, -webkit-transform .6s ease-in-out;
  }
  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 14px;
  }
  #nav-toggle span:nth-child(3) {
    top: 28px;
  }
  #nav-toggle:hover span:nth-child(1) {
    top: 4px;
  }
  #nav-toggle:hover span:nth-child(3) {
    top: 23px;
  }
  .open #nav-toggle span {
    background: #fff;
  }
  .open #nav-toggle span:nth-child(1) {
    top: 15px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .open #nav-toggle span:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 15px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #gloval-nav {
    background: #FF2E63;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 29px;
    opacity: 0;
    -webkit-transition: opacity .6s ease, visibility .6s ease;
    transition: opacity .6s ease, visibility .6s ease;
  }
  #gloval-nav ul li {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    -webkit-transition: opacity .2s ease, -webkit-transform .6s ease;
    transition: opacity .2s ease, -webkit-transform .6s ease;
    transition: transform .6s ease, opacity .2s ease;
    transition: transform .6s ease, opacity .2s ease, -webkit-transform .6s ease;
  }
  #gloval-nav ul li:nth-child(2) {
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
  }
  #gloval-nav ul li:nth-child(3) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  #gloval-nav ul li:nth-child(4) {
    -webkit-transition-delay: .45s;
            transition-delay: .45s;
  }
  #gloval-nav ul li:nth-child(5) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  #gloval-nav ul li:nth-child(6) {
    -webkit-transition-delay: .75s;
            transition-delay: .75s;
  }
  #gloval-nav ul li a {
    display: block;
    color: #EAEAEA;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 10px 0;
    -webkit-transition: color .6s ease;
    transition: color .6s ease;
  }
  #gloval-nav ul li a:hover {
    text-decoration: line-through;
    color: #252A34;
  }
  /* open */
  .open {
    overflow: hidden;
  }
  .open #gloval-nav {
    visibility: visible;
    opacity: 1;
  }
  .open #gloval-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity .9s ease;
    transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
  }
}

.ttl-sec {
  width: 80%;
  margin: auto;
  margin-bottom: 20%;
  color: #67DBD7;
  position: relative;
}

@media (max-width: 769px) {
  .ttl-sec {
    width: 100%;
  }
}

@media (max-width: 559px) {
  .ttl-sec {
    margin-bottom: 80%;
  }
}

.ttl-sec .ttl-text {
  border-bottom: 20px solid #FF2E63;
  padding-bottom: 20px;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@media (max-width: 559px) {
  .ttl-sec .ttl-text {
    padding-bottom: 10px;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(-700px);
            transform: translateY(-700px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(-700px);
            transform: translateY(-700px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ttl-sec .ttl-text .color-txt {
  color: #FF2E63;
  font-size: 3rem;
  font-weight: 400;
}

@media (max-width: 559px) {
  .ttl-sec .ttl-text .color-txt {
    font-size: 2rem;
  }
}

.ttl-sec .ttl-text .bold-txt {
  font-size: 15rem;
  font-weight: 900;
}

@media (max-width: 769px) {
  .ttl-sec .ttl-text .bold-txt {
    font-size: 12rem;
  }
}

@media (max-width: 559px) {
  .ttl-sec .ttl-text .bold-txt {
    font-size: 6rem;
  }
}

@media (max-width: 374px) {
  .ttl-sec .ttl-text .bold-txt {
    font-size: 5rem;
  }
}

.copy-right {
  font-size: 1rem;
  color: #EAEAEA;
  float: right;
}

.scroll-icon {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 20%;
  z-index: 2;
  padding: 10px 10px 110px;
  overflow: hidden;
  color: #FF2E63;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.scroll-icon::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100px;
  background: #FF2E63;
  -webkit-animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
          animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@-webkit-keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

@keyframes sdl {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
}

.profile-sec {
  background: #252A34;
  width: 100%;
  position: relative;
  padding: 7% 0;
  margin: 15% 0;
}

@media (max-width: 769px) {
  .profile-sec {
    padding: 20% 0;
  }
}

.profile-sec .circle {
  position: absolute;
  left: 10%;
  top: 5%;
  width: 400px;
  height: 400px;
  background-color: #FF2E63;
  border-radius: 50%;
  z-index: 0;
}

@media (max-width: 959px) {
  .profile-sec .circle {
    left: -5%;
  }
}

@media (max-width: 559px) {
  .profile-sec .circle {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 374px) {
  .profile-sec .circle {
    width: 300px;
    height: 300px;
  }
}

.profile-sec .profile-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 769px) {
  .profile-sec .profile-flex {
    width: 90vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 559px) {
  .profile-sec .profile-flex {
    display: block;
  }
}

@media (max-width: 559px) {
  .profile-sec .profile-flex .profile-img {
    text-align: center;
  }
}

.profile-sec .profile-flex .profile-img img {
  z-index: 1;
  opacity: 0.9;
}

@media (max-width: 374px) {
  .profile-sec .profile-flex .profile-img img {
    width: 90%;
  }
}

.profile-sec .profile-txt {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 5%;
  z-index: 2;
}

.profile-sec .profile-txt .name {
  color: #EAEAEA;
  font-weight: 700;
  font-size: 1.8rem;
  border-bottom: 1px dotted #EAEAEA;
  line-height: 2.5;
}

.profile-sec .profile-txt .introduction-txt, .profile-sec .profile-txt a {
  color: #EAEAEA;
  font-size: 1.6rem;
  line-height: 2;
  -webkit-transition: color .6s ease;
  transition: color .6s ease;
}

.profile-sec .profile-txt .introduction-txt a:hover, .profile-sec .profile-txt a a:hover {
  color: #FF2E63;
}

.sec-ttl {
  position: absolute;
  top: 0;
  left: -1%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 10rem;
  font-weight: 900;
  color: #EAEAEA;
  opacity: 0.1;
  mix-blend-mode: exclusion;
  z-index: 2;
}

@media (max-width: 769px) {
  .sec-ttl {
    font-size: 8rem;
  }
}

@media (max-width: 559px) {
  .sec-ttl {
    font-size: 4rem;
  }
}

.skill-sec {
  position: relative;
}

.skill-sec .coding-box {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
  border: 2px solid #EAEAEA;
  position: relative;
}

@media (max-width: 559px) {
  .skill-sec .coding-box {
    display: block;
  }
}

.skill-sec .skill-box-ttl {
  margin: auto;
  text-align: center;
  width: 50vw;
  font-size: 3rem;
  font-weight: 700;
  color: #EAEAEA;
}

@media (max-width: 559px) {
  .skill-sec .skill-box-ttl {
    width: unset;
    padding: 50px 0;
  }
}

@media (max-width: 959px) {
  .skill-sec .ttl-design {
    color: #EAEAEA;
  }
}

.skill-sec .skill-box-txt {
  width: 50vw;
  font-size: 1.6rem;
  color: #EAEAEA;
  background: #FF2E63;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13% 5%;
  line-height: 2;
}

@media (max-width: 559px) {
  .skill-sec .skill-box-txt {
    width: 100%;
  }
}

.skill-sec .design-box {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
  border: 2px solid #EAEAEA;
  position: relative;
  margin-top: 5%;
}

@media (max-width: 559px) {
  .skill-sec .design-box {
    display: block;
  }
}

.skill-sec .responsive-box {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
  border: 2px solid #EAEAEA;
  position: relative;
  margin-top: 5%;
}

@media (max-width: 559px) {
  .skill-sec .responsive-box {
    display: block;
  }
}

.portfolio-sec {
  position: relative;
  margin: 15% 0;
}

.portfolio-sec .portfolio-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  padding: 5% 0;
  z-index: 2;
}

@media (max-width: 769px) {
  .portfolio-sec .portfolio-list {
    padding: 15% 0;
    text-align: center;
  }
}

.portfolio-sec .portfolio-list li {
  position: relative;
  overflow: hidden;
  margin: 2%;
}

@media (max-width: 959px) {
  .portfolio-sec .portfolio-list li {
    margin: 3% 0;
  }
}

.portfolio-sec .portfolio-list li:hover .figcaption {
  opacity: 0.8;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

.portfolio-sec .portfolio-list li img {
  width: 300px;
  height: 200px;
}

@media (max-width: 374px) {
  .portfolio-sec .portfolio-list li img {
    width: 200px;
    height: auto;
  }
}

.portfolio-sec .portfolio-list li .figcaption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #EAEAEA;
  -webkit-transition: .3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  text-align: center;
  color: #252A34;
  padding: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 559px) {
  .portfolio-sec .portfolio-list li .figcaption {
    padding: 10%;
  }
}

.portfolio-sec .portfolio-list li .figcaption .caption-ttl {
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: 10%;
}

.portfolio-sec .portfolio-list li .figcaption .caption-txt {
  font-size: 1.4rem;
}

.contact-sec {
  position: relative;
  padding: 15% 0;
  margin: 15% 0;
}

@media (max-width: 559px) {
  .contact-sec {
    margin: 20% 0;
  }
}

.contact-sec .contact-me {
  text-align: center;
}

@media (max-width: 559px) {
  .contact-sec .contact-me {
    display: block;
    width: 200px;
    margin: auto;
  }
}

.contact-sec .contact-me .far {
  font-size: 3rem;
  vertical-align: sub;
  color: #FF2E63;
}

@media (max-width: 559px) {
  .contact-sec .contact-me .far {
    font-size: 1.5rem;
    vertical-align: unset;
  }
}

.contact-sec .contact-me a {
  color: #EAEAEA;
  font-size: 3rem;
  text-decoration: underline;
  -webkit-transition: color .6s ease;
  transition: color .6s ease;
}

@media (max-width: 559px) {
  .contact-sec .contact-me a {
    font-size: 1.5rem;
  }
}

.contact-sec .contact-me a:hover {
  color: #FF2E63;
  border-color: #FF2E63;
}
/*# sourceMappingURL=style.css.map */